In [ ]:
#Caso: Scoring para Crédito vehicular
#Autor: Armando Ita
#Fecha: 2025-10-15
#Una empresa de financiamiento automotriz quiere mejorar su proceso de evaluación de riesgos.
#Te han dado datos históricos de clientes y se desea construir un modelo de ML que prediga la probabilidad de que un cliente entre en default,
#a partir de sus características personales y crediticias.

#Tiempo: 10 minutos.

In [ ]:
# Run these commands in your terminal or in a cell with '!' at the beginning
%pip install pandas
%pip install pycaret

In [1]:
import pandas as pd
from pycaret.classification import *

In [3]:
#1. Cargamos la data:
df = pd.read_csv('ds_credito_vehicular.csv')

In [4]:
df.head()

,edad,ingresos_mensuales,estado_civil,historia_credito,nro_creditos_previos,cuota_vs_ingreso,vehiculo_propio,default
0,59,7668,Divorciado,Buena,2,0.64,0,1
1,49,6279,Casado,Buena,2,0.31,1,1
2,35,2722,Soltero,Mala,4,0.41,1,0
3,63,4314,Divorciado,Regular,4,0.57,0,0
4,28,4157,Soltero,Buena,1,0.34,0,0

In [5]:
#Inicializar el experimento:
reg = setup(data = df, target = 'default', session_id = 123, normalize=True, categorical_features=['estado_civil', 'historia_credito'])

In [6]:
#3. Comparar modelos automáticamente:
best_model = compare_models()

In [8]:
#4. Crear el modelo:
dummy = create_model('dummy')

In [11]:
#5. Ajustar el modelo:
tuned_dummy = tune_model(dummy)

Fitting 10 folds for each of 4 candidates, totalling 40 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [12]:
#6. Evaluar visualmente el modelo:
evaluate_model(tuned_dummy)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [13]:
#7. Predicción:
preds = predict_model(tuned_dummy)
print(preds.head())

     edad  ingresos_mensuales estado_civil historia_credito  \
57     60                4457       Casado            Buena
98     55                2147       Casado            Buena
54     34                5659      Soltero          Regular
92     64                2930       Casado            Buena
137    33                4643       Casado            Buena

     nro_creditos_previos  cuota_vs_ingreso  vehiculo_propio  default  \
57                      3              0.32                0        0
98                      2              0.25                1        0
54                      3              0.32                0        0
92                      2              0.31                1        0
137                     0              0.69                0        1

     prediction_label  prediction_score
57                  0            0.8286
98                  0            0.8286
54                  0            0.8286
92                  0            0.8286
137                 0            0.8286

In [ ]:
#1. En promedio, el modelo se equivoca en un 5.76% del precio real.
#2. El modelo explica el 97.43% de la varianza de los precios.
#3. Error logaritmico medio: 0.0807 es bajo; buen performance en escalas grandes.

#Conclusión: El modelo tiene muy buen ajuste global. Es explicativo porque tiene un R2 ajustado alto y el error medio es bajo. Es preciso porque tiene un MAPE pequeño.

In [16]:
#8. Guardar el modelo:
save_model(tuned_dummy, 'modelo_credito_vehicular_final')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['edad', 'ingresos_mensuales',
                                              'nro_creditos_previos',
                                              'cuota_vs_ingreso',
                                              'vehiculo_propio'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_impu...
                                                                     'historia_credito'],
                                                               drop_invariant=False,
                                                               handle_missing='return_nan',
                                                               handle_unknown='value',
                                                               return_df=True,
                                                               use_cat_names=True,
                                                               verbose=0))),
                 ('normalize',
                  TransformerWrapper(exclude=None, include=None,
                                     transformer=StandardScaler(copy=True,
                                                                with_mean=True,
                                                                with_std=True))),
                 ('trained_model',
                  DummyClassifier(constant=None, random_state=123,
                                  strategy='prior'))],
          verbose=False),
 'modelo_credito_vehicular_final.pkl')